.git
.gitignore
.editorconfig
.env
.env.*
node_modules
vendor
public/build
public/storage
storage/*.key
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
database/*.sqlite-journal
phpunit.xml
tests
